.flair {
    position: fixed;
    opacity: 0;
    width: 50px;
    scale: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}
